<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petsocial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.ResetActivity"></activity>
        <activity android:name=".ui.ContextActivity" />
        <activity android:name=".ui.ReleaseActivity" />
        <activity android:name=".ui.AddFriend" />
        <activity android:name=".login.PhoneActivity" />
        <activity android:name=".login.ForgetActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.DataActivity" />
        <activity android:name=".ui.MainShowActivity" />
        <activity android:name=".ui.SelectActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>